<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">

<head>
    <title>Smart Contact Manager</title>
</head>

<body>
    <div id="content">
        <!-- content to send -->
        <h1>Homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consequuntur quidem commodi voluptates rerum
            alias officiis earum natus, laboriosam facilis fuga ratione iure ad. Debitis nostrum rem recusandae modi
            fugiat!
            Fugiat nesciunt fugit corrupti laudantium eaque dignissimos illum ullam adipisci hic architecto quidem
            veniam, cumque libero ut magni commodi id iusto. Distinctio autem debitis magnam animi aperiam maiores?
            Consequuntur, assumenda.</p>
    </div>
</body>

</html>