<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup to SCM</title>

</head>

<body>
    <div id="content">
        <!-- Content section divided into a 12-part grid layout -->
        <div class="grid grid-cols-12 mt-5">
            <!-- This div takes up 4 out of the 12 columns -->
            <div class="col-span-4 md:col-span-3 lg:col-span-3"></div>
            <div class="col-span-4 md:col-span-6 lg:col-span-6">
                <div
                    class="block p-6 bg-white border border-t-[10px] border-gray-200 rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 border-t-blue-700 dark:border-blue-700 dark:hover:bg-gray-700 ">

                    <!-- message here -->
                    <div data-th-replace="message :: messagebox"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup Here</h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400">Start managing contacts on cloud.</p>

                    <form data-th-action="@{'/do-register'}" data-th-object="${userForm}" method="post" class="mt-5"
                        novalidate>
                        <!-- name field -->
                        <div class="mb-3">
                            <label for="fname"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="fname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="John Doe" required data-th-field="*{name}" />

                            <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                                class="text-red-600 px-1 py-2">Name is required</p>
                        </div>
                        <!-- email field -->
                        <div class="mb-3">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" id="email" data-th-field="*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="johndoe@gmail.com" />
                            <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                                class="text-red-600 px-1 py-2">Name is required</p>
                        </div>
                        <!-- password field -->
                        <div class=" mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                password</label>
                            <input type="password" id="password" placeholder="Password" data-th-field="*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                            <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
                                class="text-red-600 px-1 py-2">Name is required</p>
                        </div>
                        <!-- phone field -->
                        <div class="mb-3">
                            <label for="phone"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                Number</label>
                            <input type="tel" id="phone" data-th-field="*{phoneNumber}" placeholder="Without +91"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                            <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"
                                class="text-red-600 px-1 py-2">Name is required</p>
                        </div>
                        <!-- textarea -->
                        <label for="about" class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">About
                            you</label>
                        <textarea id="about" rows="5" data-th-field="*{about}"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-3"
                            placeholder="Write about yourself..."></textarea>
                        <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}"
                            class="text-red-600 px-1 py-2">Name is required</p>
                        <!-- buttons -->
                        <div class="mb-0 flex justify-center space-x-3">
                            <button type="submit"
                                class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg px-5 py-2.5">Signup</button>
                            <button type="reset"
                                class="text-white bg-red-500 hover:bg-red-600 font-medium rounded-lg px-5 py-2.5">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-span-4 md:col-span-3 lg:col-span-3"></div>
        </div>
    </div>
</body>

</html>